@import "navbar";



body {
	font-family: sans-serif;
	text-align: center;
}


table {
  width: 50%; /* Adjust the width as needed */
  border-collapse: collapse; /* Merges cell borders */
}
th, td {
  border: 1px solid black; /* Adds borders to cells */
  padding: 8px; /* Adds spacing inside cells */
  text-align: left; /* Aligns text to the left */
}
th {
  background-color: #f2f2f2; /* Light gray background for headers */
}

li {
  font-size: 12px;
}

  .red {
    color: red;
  }
  .flex-container {
	display: flex;
  }

  $primary-color: #3498db;
$font-stack: 'Helvetica, sans-serif';


.gbi {
	width: 40vw;
	position: absolute;
	flex: auto;
}

// Parameters

nav {
  /*
 position: absolute;
 top: 50%; left: 0; bottom: 50%; right: 0;
  */
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 350px;
  margin: 20px auto;

  .card-content {
    p {
      margin: 0 0 10px 0;
      font-size: 16px;
      color: #333333;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}